
<!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
		<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <%= image_tag('logos/spray_tan1.jpg', alt: "spray tan", size: "120x140",  class: "rounded-circle") %>
            <h2>Eye Lashes</h2>
            <p>Your full set will be customized design tailored to your lifestyle, while keeping your natural lash health in mind.</p>
            <p><a class="btn btn-secondary" href="/pages/services" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag('logos/Permanent_cosmetics.png', alt: "Permanent Cosmetics", size: "120x140",  class: "rounded-circle") %>
            <h2>Permanent Cosmetics</h2>
            <p>Permanent makeup is a cosmetic technique which employs tattoos (permanent pigmentation of the dermis) as a means of producing designs that resemble makeup, such as eyelining and other permanent enhancing colors to the skin of the face, lips, and eyelids.</p>
            <p><a class="btn btn-secondary" href="/pages/services" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag('logos/tinting_eyes.png', alt: "spray tan", size: "120x140",  class: "rounded-circle") %>
            <h2>Waxing</h2>
            <p>Almost any area of the body can be waxed, including eyebrows, face, pubic hair (called bikini waxing), legs, arms, back, abdomen, knuckles, and feet. There are many types of waxing suitable for removing unwanted hair.</p>
            <p><a class="btn btn-secondary" href="/pages/services" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette border-color">
          <div class="col-md-7">
            <h2 class="featurette-heading">Master Esthetician & Eyelash Specialist <br><span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <%= image_tag('logos/beauty_queen.jpg', alt: "beautiful", size: "500x500",  class: "card-img-top rounded-corners") %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
             <%= image_tag('logos/beauty_jamie.jpg', alt: "beautiful", size: "500x500",  class: "card-img-top rounded-corners") %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Jamie is so sweet she will make you feel like a million bucks. And girl is talented. She knows her craft and she just has an eye for for things. Good attention to details. You will leave feeling and looking prettier, inside and out. Yes that’s cheesy, but it’s also 100% true!</p>
          </div>
          <div class="col-md-5">
             <%= image_tag('logos/inthehood.jpg', alt: "beautiful", size: "500x500",  class: "card-img-top rounded-corners") %>
          </div>
        </div>
  <div>
      <h3>Testimonials</h43>
  </div>
        <hr class="featurette-divider">

        <div class="card-deck">
  <div class="card" id="color1">
    <span><%= image_tag('logos/leshelle_1.jpg', size: '250x250') %></span>
    <div class="card-body" >
      <h5 class="card-title">Leshelle V.</h5>
      <p class="card-text"><strong>"</strong>In 2017 I had been going to a big name Lash studio in your local strip mall and I was beginning to get frustrated.  The drive was long and I felt like I was having to go every 1.5 weeks which is way too time consuming for my on-the-go lifestyle.  Insert Jamie!  She was referred to me by a friend when I was in desperate need of a fill!  When I first walked in for my appointment not only did I think she was instantly adorable but after she finished I knew that she was amazingly talented at what she does.  She corrected another businesses terrible work and didn’t even try to price gouge me for someone else’s mistakes.  I can now say that I only have to go once every three weeks sometimes two weeks if I am feeling boujee (haha!).  The fact that she wanted to make sure I was happy and satisfied has made me a customer and friend for life.  Fast forward 3 years and we are still going strong.  I can’t say enough wonderful things about her and her adorable family! <strong>"</strong></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id="color2">
    <span><%= image_tag('logos/lindsay1.jpg', size: '250x250') %></span>
    <div class="card-body">
      <h5 class="card-title">Lindsay H.</h5>
      <p class="card-text">Jamie is so sweet she will make you feel like a million bucks. And girl is talented. She knows her craft and she just has an eye for for things. Good attention to details. You will leave feeling and looking prettier, inside and out. Yes that’s cheesy, but it’s also 100% true!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id="color3">
    <span><%= image_tag('logos/natashaF', size: '250x250') %></span>
    <div class="card-body">
      <h5 class="card-title">Natasha F.</h5>
      <p class="card-text">Jamie is beautiful inside and out!  Her knowledge and customer service is OUT OF THIS WORLD!
Oils have changed my health 100 percent!  Her kind heart and gift of sharing her wealth, made my life more positive and healthier. Plus my lashes look AWESOME!  Her encouragement, laughter and caring..... will keep you returning for more.  Love you Jamie!!!
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>