<h1>Photo Gallery</h1>


<div class="container py-3">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 py-">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example1.jpg', size: '250x250', alt: "Example One")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example2.jpg', size: '250x250', alt: "Example Two")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example3.jpg', size: '250x250', alt: "Example Three")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example4.jpg', size: '250x250', alt: "Example Four")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example5.jpg', size: '250x250', alt: "Example Five")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example6.jpg', size: '250x250', alt: "Example Six")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example7.jpg', size: '250x250', alt: "Example Seven")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example8.jpg', size: '250x250', alt: "Example Eight")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example9.jpg', size: '250x250', alt: "Example Nine")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example10.jpg', size: '250x250', alt: "Example Ten")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example11.jpg', size: '250x250', alt: "Example Eleven")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example12.jpg', size: '250x250', alt: "Example Twelve")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example13.jpg', size: '250x250', alt: "Example Thirteen")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example14.jpg', size: '250x250', alt: "Example Fourteen")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example15.jpg', size: '250x250', alt: "Example Fifteen")%>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example16.jpg', size: '250x250', alt: "Example Sixteen")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example17.jpg', size: '250x250', alt: "Example Seventeen")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example18.jpg', size: '250x250', alt: "Example Eighteen")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example19.jpg', size: '250x250', alt: "Example Nineteen")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example20.jpg', size: '250x250', alt: "Example Twenty")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example21.jpg', size: '250x250', alt: "Example Twenty1")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example22.jpg', size: '250x250', alt: "Example Twenty2")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example23.jpg', size: '250x250', alt: "Example Twenty3")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example24.jpg', size: '250x250', alt: "Example Twenty4")%>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 py-2">
            <a href="“link”" class="d-block mb-4 h-100">
                <%= image_tag('logos/example25.jpg', size: '250x250', alt: "Example Twenty5")%>
            </a>
        </div>
    </div>
</div>