<!-- Page Content -->
  <div class="container">

    <div class="row">
      <!-- /.col-lg-3 -->

      <div class="col-lg-11">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <%= image_tag("logos/waxing.png", alt: 'Waxing') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Waxing</a>
                </h4>
                <h5>$10 - $60</h5>
                <p class="card-text">Waxing is the process of removing unwanted hair from a part of your body by applying wax and peeling off the wax afterburn from waxing.</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag("logos/dermaplaning.png", size: "263x270", alt: 'Dermaplaning') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Dermaplaing</a>
                </h4>
                <h5>$60 ($75 with a peel)</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag("logos/tinting.png", size: "263x270", alt: 'Eyebrow Tint') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Tinting</a>
                </h4>
                <h5>$20 - $30</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag("logos/facials.png", size: "263x270", alt: 'Eyelash Extentions') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Facials</a>
                </h4>
                <h5>$10 - $60</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag("logos/fake_bake.jpeg", size: "263x270", alt: 'Dermaplaning') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Spray Tan</a>
                </h4>
                <h5>$40</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag("logos/perm-cosm.png", size: "263x270", alt: 'Dermaplaning') %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Permanent Cosmetics</a>
                </h4>
                <h5> $75 | $200 - $275 </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= link_to(image_tag("logos/beauty_jamie.jpg", size: "263x270", alt: "Eyelashes")) %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Eyelash Extentions</a>
                </h4>
                <h5>See Pricing</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <medium class="text-muted">Rating : &#9733; &#9733; &#9733; &#9733; &#9733;</medium>
              </div>
            </div>
          </div>

          
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->