
<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
  	<%= f.label :rating %><br>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
